<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/home">
      <strong><i class="bi bi-shop"></i> ElectroHub</strong>
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <!-- Home -->
        <li class="nav-item ">
          <a
            class="nav-link"
            routerLink="/home"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }">
            Home
          </a>
        </li>

        <!-- Products -->
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/productSearch"
            routerLinkActive="active">
            Products
          </a>
        </li>

        <!-- About -->
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/about"
            routerLinkActive="active">
            About
          </a>
        </li>

        <!-- Dropdown Contact -->
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false">
            Contact us
          </a>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" href="https://facebook.com" target="_blank">
                <i class="fa fa-facebook" aria-hidden="true"></i> Facebook
              </a>
            </li>
            <li>
              <a class="dropdown-item" href="https://instagram.com" target="_blank">
                <i class="fa fa-instagram" aria-hidden="true"></i> Instagram
              </a>
            </li>
            <li><hr class="dropdown-divider" /></li>
            <li>
              <a class="dropdown-item" href="https://wa.me/1234567890" target="_blank">
                <i class="fa fa-whatsapp" aria-hidden="true"></i> Whatsapp
              </a>
            </li>
          </ul>
        </li>
      </ul>

      <!-- Search Form -->
      <form class="d-flex" role="search">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"/>
        <button class="btn btn-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
