.form-control:focus {
  box-shadow: 0 0 8px rgba(40, 167, 69,2);
}

.form-select :focus {
  box-shadow: 0 0 8px rgba(40, 167, 69,2);
}

.form-select.border-success:focus {
  box-shadow: 0 0 8px rgba(40, 167, 69,2);
}
